In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
import datetime as dt
import os

In [ ]:
list_of_dfs = []

for filename in os.listdir('datasets/2023'):
    list_of_dfs.append(filename)
df_list = []
for i in range(len(list_of_dfs)):
    name = 'df_' + str(i)
    name = pd.read_csv('datasets/2023/' + list_of_dfs[i])
    df_list.append(name)

In [ ]:
df_may = df_list[0]
df_february = df_list[1]
df_march = df_list[2]
df_april = df_list[3]
df_june = df_list[4]
df_january = df_list[5]

In [ ]:
my_list = [df_january, df_february,df_march,df_april,df_may,df_june]

In [ ]:
all_trips = pd.concat(my_list)

In [ ]:
all_trips.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    132564
start_station_id      132564
end_station_name      142260
end_station_id        142260
start_lat                  0
start_lng                  0
end_lat                 2875
end_lng                 2875
member_casual              0
dtype: int64

In [ ]:
print(f'Before dropping missing values: {all_trips.shape}')
all_trips.dropna(how='any',inplace=True)
print(f'After dropping missing values: {all_trips.shape}')

Before dropping missing values: (1953963, 13)
After dropping missing values: (1755337, 13)

In [ ]:
all_trips.sort_values('started_at', inplace=True)

In [ ]:
all_trips['started_at'] = pd.to_datetime(all_trips['started_at'])
all_trips['ended_at'] = pd.to_datetime(all_trips['ended_at'])

In [ ]:
all_trips['trip_duration'] = all_trips['ended_at'] - all_trips['started_at']
all_trips['trip_duration_seconds'] = all_trips['trip_duration'].dt.total_seconds()

In [ ]:
all_trips.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,trip_duration_seconds
128323,4B88BE3AEA4FD3C2,classic_bike,2023-01-01 00:03:48,2023-01-01 00:41:23,Lincoln Memorial,31258.0,20th & E St NW,31204.0,38.888255,-77.049436,38.896300,-77.045000,member,0 days 00:37:35,2255.0
148254,B9CBD9EBCD559256,electric_bike,2023-01-01 00:05:08,2023-01-01 00:16:09,14th & Belmont St NW,31119.0,16th & Irving St NW,31122.0,38.921118,-77.031776,38.928893,-77.036250,member,0 days 00:11:01,661.0
155929,0514F0FDDA83CC2D,classic_bike,2023-01-01 00:05:36,2023-01-01 00:32:44,Lincoln Memorial,31258.0,S Troy St & 26th St S,31056.0,38.888255,-77.049436,38.847977,-77.075104,casual,0 days 00:27:08,1628.0
72858,BD93FC917AE9F223,classic_bike,2023-01-01 00:06:16,2023-01-01 00:38:13,Court House Metro / 15th St & N Uhle St,31089.0,Wilson Blvd & Ft Myer Dr,31015.0,38.890612,-77.084801,38.894600,-77.072305,casual,0 days 00:31:57,1917.0
72854,179364770202D6D8,classic_bike,2023-01-01 00:06:51,2023-01-01 00:37:13,Court House Metro / 15th St & N Uhle St,31089.0,Wilson Blvd & Ft Myer Dr,31015.0,38.890612,-77.084801,38.894600,-77.072305,casual,0 days 00:30:22,1822.0

In [ ]:
all_trips = all_trips[['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'trip_duration',
 'trip_duration_seconds',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']]

In [ ]:
all_trips[all_trips['trip_duration_seconds'] == 2132318.0]

,ride_id,rideable_type,started_at,ended_at,trip_duration,trip_duration_seconds,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
153307,9F38F4CC2D052F11,docked_bike,2023-05-06 22:30:16,2023-05-31 14:48:54,24 days 16:18:38,2132318.0,3rd & Tingey St SE,31634.0,7th & E St SW,31294.0,38.87501,-77.0024,38.88345,-77.021741,casual

In [ ]:
secs = 20000
secs.dt.to