In [136]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
import datetime as dt
import os

In [137]:
list_of_dfs = []

for filename in os.listdir('datasets/'):
    if '2023' in filename:
        list_of_dfs.append(filename)
df_list = []
for i in range(len(list_of_dfs)):
    name = 'df_' + str(i)
    name = pd.read_csv('datasets/' + list_of_dfs[i])
    df_list.append(name)

In [138]:
df_may = df_list[0]
df_february = df_list[1]
df_march = df_list[2]
df_april = df_list[3]
df_june = df_list[4]
df_january = df_list[5]

In [139]:
my_list = [df_january, df_february,df_march,df_april,df_may,df_june]

In [140]:
all_trips = pd.concat(my_list)

In [141]:
all_trips.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    132564
start_station_id      132564
end_station_name      142260
end_station_id        142260
start_lat                  0
start_lng                  0
end_lat                 2875
end_lng                 2875
member_casual              0
dtype: int64

In [142]:
print(f'Before dropping missing values: {all_trips.shape}')
all_trips.dropna(how='any',inplace=True)
print(f'After dropping missing values: {all_trips.shape}')

Before dropping missing values: (1953963, 13)
After dropping missing values: (1755337, 13)

In [143]:
all_trips.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,65F0ACD101BF0D49,classic_bike,2023-01-04 19:34:07,2023-01-04 19:39:29,East Falls Church Metro / Sycamore St & 19th St N,31904.0,W Columbia St & N Washington St,32609.0,38.885321,-77.156427,38.885621,-77.166917,member
1,D75158CE73DC43F0,classic_bike,2023-01-27 15:26:38,2023-01-27 19:21:36,Carroll & Westmoreland Ave,32025.0,Fenton St & Ellsworth Dr,32036.0,38.975000,-77.011210,38.997033,-77.025608,member
2,33E85889625FF7CA,classic_bike,2023-01-05 20:44:38,2023-01-05 20:51:18,15th & L St NW,31276.0,Thomas Circle,31241.0,38.903649,-77.034918,38.905900,-77.032500,member
3,E1F055A1651F47A1,classic_bike,2023-01-03 17:45:14,2023-01-03 17:57:23,Hartland Rd & Harte Pl,32255.0,Merrifield Cinema & Merrifield Town Center,32235.0,38.878601,-77.222808,38.870093,-77.229970,member
4,88CC90CEEC298BAF,classic_bike,2023-01-03 05:18:46,2023-01-03 05:25:50,Merrifield Cinema & Merrifield Town Center,32235.0,Hartland Rd & Harte Pl,32255.0,38.870093,-77.229970,38.878601,-77.222808,member

In [167]:
all_trips['started_at'] = pd.to_datetime(all_trips['started_at'])
all_trips['ended_at'] = pd.to_datetime(all_trips['ended_at'])

In [169]:
all_trips['trip_duration'] = all_trips['ended_at'] - all_trips['started_at']
all_trips['trip_duration_seconds'] = all_trips['trip_duration'].dt.total_seconds()